
a.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
}

header, footer {
  background-color: #ebebed
}

header { background: #050b2d ; } .nav-item:hover, .active { background: #1277c0; } .nav-item { padding: 5px; } .nav-link, .nav-link:hover { color: #FFFFFF; font: bold 14px sans-serif; } ul { background-color: #7b017d; } .py-auto, .border-top { margin-right: 1170px; } p, p2 { font: bold 20px; font-family: cursive; } footer { background: linear-gradient(#7b017d,#050b2d) ; } p2 { margin: 100px; } .border-top { margin-top: 80px; } .fas { padding: 10px; } .search { display: flex; } p1 { margin-left: 480px; } 
